* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item a.anchor, .modal-menu-mobile .anchor-list-mobile__item a, section.about-me .line-content-wrapper__text p, section.my-cases .button-wrapper button.btn-open-modal-cases span {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section.my-cases .title-wrapper h2, .modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2, .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li a.item {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 40px 50px 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;
}
header .logo-wrapper {
  width: fit-content;
  height: fit-content;
}
header .logo-wrapper img.img-logo {
  width: auto;
  height: 85px;
  object-fit: scale-down;
}
header .dynamic-menu-wrapper {
  max-width: 745px;
  flex: 1;
  margin-top: -170px;
  transition: margin-top 0.4s;
}
header .dynamic-menu-wrapper__menu {
  height: 45px;
  background: #333;
  padding: 0px 15px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
header .dynamic-menu-wrapper__menu ul.anchor-list {
  display: flex;
  flex-direction: row;
  gap: 0 35px;
  align-items: center;
}
header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item {
  width: fit-content;
  height: fit-content;
}
header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item a.anchor {
  font-size: 2rem;
  line-height: 1.2em;
  color: #ffffff;
  cursor: pointer;
  pointer-events: all;
}
header .dynamic-menu-wrapper__button-trigger button.dynamic-menu-trigger-button {
  width: 100%;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  cursor: pointer;
}
header .dynamic-menu-wrapper__button-trigger button.dynamic-menu-trigger-button .line-top {
  width: 100%;
  height: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #333;
}
header .dynamic-menu-wrapper__button-trigger button.dynamic-menu-trigger-button .svg-chevron-wrapper {
  width: 70px;
  height: 28px;
  background: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .menu-visible {
  margin-top: -85px;
}
header .linkedin-anchor-wrapper {
  width: fit-content;
  height: fit-content;
}
header .linkedin-anchor-wrapper svg {
  width: 65px;
  object-fit: scale-down;
  transition: 0.2s;
}
header .linkedin-anchor-wrapper:hover svg {
  transform: scale(0.92);
}

section.presentation-video {
  width: min(100%, 1440px);
  height: fit-content;
  margin: 0 auto;
}
section.presentation-video .video-mobile {
  display: none;
}
section.presentation-video .video-desktop {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-menu-mobile {
  display: none;
  width: 140px;
  height: 170px;
  border-radius: 15px;
  background: rgba(95, 95, 95, 0.8);
  position: fixed;
  -webkit-box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  right: -130px;
  transform: translateY(-50%);
  transition: right 0.2s;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-menu-mobile .anchor-list-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px 0;
}
.modal-menu-mobile .anchor-list-mobile__item a {
  width: 100%;
  padding: 10px;
  font-size: 1.7rem;
  line-height: 1.2em;
  color: #ffffff;
}

.modal-menu-mobile.modal-visible {
  right: 10px;
}

section.about-me {
  width: 100%;
  height: fit-content;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
}
section.about-me .line-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 120px;
}
section.about-me .line-content-wrapper__image img {
  width: 330px;
  height: 330px;
}
section.about-me .line-content-wrapper__text {
  max-width: 750px;
}
section.about-me .line-content-wrapper__text p {
  font-size: 2.8rem;
  line-height: 1.3em;
  color: #000000;
  margin-bottom: 1.2em;
}
section.about-me .line-content-wrapper__text p span {
  font-size: inherit;
  color: #aaaaaa;
}
section.about-me .line-content-wrapper:nth-of-type(2n) {
  flex-direction: row-reverse;
}
section.about-me .line-content-wrapper:nth-of-type(2n) .line-content-wrapper__text p {
  text-align: right;
}

section.my-cases {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 150px;
  max-width: 1440px;
}
section.my-cases .container-my-cases {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: min(1250px, 100%);
  margin: 0 50px 0 auto;
}
section.my-cases .title-wrapper {
  width: fit-content;
  height: fit-content;
  margin-bottom: 28px;
}
section.my-cases .title-wrapper h2 {
  font-size: 5rem;
  line-height: 1.2em;
  color: #aaaaaa;
  font-style: italic;
}
section.my-cases .grid-cases-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px;
}
section.my-cases .grid-cases-wrapper .case-box {
  width: 290px;
  height: 200px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
section.my-cases .grid-cases-wrapper .case-box img.img-case {
  width: 120%;
  height: 120%;
  object-fit: cover;
  border-radius: 25px;
  object-position: -15px -20px;
}
section.my-cases .grid-cases-wrapper .case-box .layer-blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s;
}
section.my-cases .grid-cases-wrapper .case-box:hover .layer-blur {
  backdrop-filter: blur(0px);
}
section.my-cases .grid-cases-wrapper .case-empty:nth-of-type(1) {
  background: #d9d9d9;
}
section.my-cases .grid-cases-wrapper .case-empty:nth-of-type(2) {
  background: #B1B2B5;
}
section.my-cases .grid-cases-wrapper .case-empty:nth-of-type(3) {
  background: #7a7b7c;
}
section.my-cases .grid-cases-wrapper .case-empty:nth-of-type(4) {
  background: #555555;
}
section.my-cases .button-wrapper {
  width: fit-content;
  margin: 50px auto 0 auto;
}
section.my-cases .button-wrapper button.btn-open-modal-cases {
  background: transparent;
  border: 0;
  padding: 10px 18px;
  position: relative;
  cursor: pointer;
}
section.my-cases .button-wrapper button.btn-open-modal-cases span {
  font-size: 2.5rem;
  line-height: 1.2em;
  color: #aaaaaa;
  font-style: italic;
  position: relative;
  transition: 0.3s;
}
section.my-cases .button-wrapper button.btn-open-modal-cases::before {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #aaaaaa;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
section.my-cases .button-wrapper button.btn-open-modal-cases:hover span {
  color: #ffffff;
}
section.my-cases .button-wrapper button.btn-open-modal-cases:hover::before {
  height: 100%;
}

.modal-my-cases {
  display: none;
  position: fixed;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}
.modal-my-cases .modal-wrapper {
  width: min(1280px, 100%);
  height: min(540px, 90vw);
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  overflow: hidden;
  margin: 0 30px;
}
.modal-my-cases .modal-wrapper .modal-container {
  flex: 1;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-my-cases .modal-wrapper .modal-container .modal-header {
  margin-bottom: 45px;
}
.modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2 {
  font-size: 4.8rem;
  line-height: 1.2em;
  color: #aaaaaa;
  font-style: italic;
}
.modal-my-cases .modal-wrapper .modal-container .modal-content {
  width: 100%;
  padding: 0px 40px;
}
.modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list {
  width: 100%;
  columns: 2;
  column-gap: 100px;
}
.modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li {
  margin-bottom: 20px;
  transition: 0.2s;
}
.modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li a.item {
  font-size: 3.2rem;
  line-height: 1.2em;
  color: #aaaaaa;
  font-style: italic;
  transition: 0.2s;
}
.modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li:hover {
  transform: scale(1.02) translate(5px, -5px);
}
.modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li:hover a {
  color: #888;
}
.modal-my-cases .modal-wrapper .modal-close-button-wrapper {
  width: 80px;
  height: 100%;
  background: #555;
  transition: 0.3s;
}
.modal-my-cases .modal-wrapper .modal-close-button-wrapper button.close-modal-btn {
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.modal-my-cases .modal-wrapper .modal-close-button-wrapper button.close-modal-btn svg {
  width: 40px;
  height: 40px;
}
.modal-my-cases .modal-wrapper .modal-close-button-wrapper:hover {
  background: #444;
}

/* --------------------------------------------- */
/* --- Media Queries (Responsive Breakpoints --- */
/* --------------------------------------------- */
@media screen and (max-width: 1440px) {
  section.my-cases .container-my-cases {
    margin: 0 40px 0 auto;
    padding-left: 20px;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 4.6rem;
  }
  section.my-cases .grid-cases-wrapper {
    gap: 25px;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    width: 280px;
    height: 190px;
  }
}
@media screen and (max-width: 1280px) {
  header .logo-wrapper img.img-logo {
    height: 75px;
  }
  header .dynamic-menu-wrapper {
    margin-top: -160px;
  }
  header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item a.anchor {
    font-size: 1.9rem;
  }
  header .menu-visible {
    margin-top: -75px;
  }
  section.about-me {
    gap: 40px 0;
  }
  section.about-me .line-content-wrapper {
    gap: 0 80px;
  }
  section.about-me .line-content-wrapper__image img {
    width: 315px;
    height: 315px;
  }
  section.about-me .line-content-wrapper__text p {
    font-size: 2.6rem;
  }
  section.my-cases {
    margin-top: 65px;
  }
  section.my-cases .container-my-cases {
    margin: 0;
    padding: 0 30px;
  }
  section.my-cases .title-wrapper {
    margin-bottom: 20px;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 4.4rem;
  }
  section.my-cases .grid-cases-wrapper {
    gap: 20px;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    width: 260px;
    height: 180px;
  }
  section.my-cases .button-wrapper {
    margin: 35px auto 0 auto;
  }
  section.my-cases .button-wrapper button.btn-open-modal-cases span {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1199px) {
  section.about-me {
    padding: 0px 40px;
    gap: 25px 0;
  }
  section.about-me .line-content-wrapper {
    gap: 0 55px;
  }
  section.about-me .line-content-wrapper__image img {
    width: 300px;
    height: 300px;
  }
  section.about-me .line-content-wrapper__text p {
    font-size: 2.4rem;
  }
  section.my-cases {
    margin-top: 55px;
  }
  section.my-cases .container-my-cases {
    padding: 0 25px;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 4.2rem;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    width: 23%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 20px;
  }
  section.my-cases .grid-cases-wrapper .case-box img.img-case {
    border-radius: 20px;
  }
  section.my-cases .button-wrapper {
    margin: 28px auto 0 auto;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2 {
    font-size: 4.6rem;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list {
    column-gap: 90px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li a.item {
    font-size: 3rem;
  }
  .modal-my-cases .modal-wrapper .modal-close-button-wrapper {
    width: 72px;
  }
}
@media screen and (max-width: 991px) {
  header .logo-wrapper img.img-logo {
    height: 70px;
  }
  header .dynamic-menu-wrapper {
    margin-top: -150px;
  }
  header .dynamic-menu-wrapper__menu {
    height: 35px;
    padding-top: 15px;
  }
  header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item a.anchor {
    font-size: 1.8rem;
  }
  header .menu-visible {
    margin-top: -80px;
  }
  header .linkedin-anchor-wrapper svg {
    width: 55px;
  }
  section.about-me {
    padding: 0px 30px;
  }
  section.about-me .line-content-wrapper {
    gap: 0 30px;
  }
  section.about-me .line-content-wrapper__image img {
    width: 280px;
    height: 280px;
  }
  section.about-me .line-content-wrapper__text p {
    font-size: 2.1rem;
    margin-bottom: 1em;
  }
  section.my-cases {
    margin-top: 45px;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 4rem;
  }
  section.my-cases .grid-cases-wrapper {
    gap: 15px;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    border-radius: 15px;
  }
  section.my-cases .grid-cases-wrapper .case-box img.img-case {
    border-radius: 15px;
  }
  section.my-cases .button-wrapper {
    margin: 18px auto 0 auto;
  }
  section.my-cases .button-wrapper button.btn-open-modal-cases span {
    font-size: 2.2rem;
  }
  .modal-my-cases .modal-wrapper {
    height: min(440px, 90vw);
  }
  .modal-my-cases .modal-wrapper .modal-container {
    padding-top: 18px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2 {
    font-size: 4.3rem;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list {
    column-gap: 20px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li {
    margin-bottom: 14px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li a.item {
    font-size: 2.5rem;
  }
  .modal-my-cases .modal-wrapper .modal-close-button-wrapper {
    width: 64px;
  }
  .modal-my-cases .modal-wrapper .modal-close-button-wrapper svg {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 35px 25px 25px 25px;
    gap: 0 25px;
  }
  header .logo-wrapper img.img-logo {
    height: 70px;
  }
  header .dynamic-menu-wrapper {
    margin-top: -150px;
  }
  header .dynamic-menu-wrapper__menu {
    height: 30px;
    padding-top: 15px;
  }
  header .dynamic-menu-wrapper__menu ul.anchor-list {
    gap: 0 30px;
  }
  header .dynamic-menu-wrapper__menu ul.anchor-list li.anchor-list__item a.anchor {
    font-size: 1.7rem;
  }
  header .menu-visible {
    margin-top: -85px;
  }
  header .linkedin-anchor-wrapper svg {
    width: 55px;
  }
  section.about-me {
    margin-top: 20px;
    gap: 40px 0;
  }
  section.about-me .line-content-wrapper {
    flex-direction: column;
    gap: 20px 0;
  }
  section.about-me .line-content-wrapper__image img {
    width: 260px;
    height: 260px;
  }
  section.about-me .line-content-wrapper__text p {
    text-align: center;
    font-size: 2rem;
  }
  section.about-me .line-content-wrapper:nth-of-type(2n) {
    flex-direction: column;
  }
  section.about-me .line-content-wrapper:nth-of-type(2n) .line-content-wrapper__text p {
    text-align: center;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 3.8rem;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    width: 42%;
  }
  section.my-cases .grid-cases-wrapper .case-box .layer-blur {
    backdrop-filter: blur(0px);
  }
  .modal-my-cases .modal-wrapper {
    height: min(430px, 90vw);
    border-radius: 35px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-header {
    margin-bottom: 30px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2 {
    font-size: 3.6rem;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content {
    padding: 0px 40px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list {
    columns: unset;
    column-gap: 0px;
    margin-bottom: 30px;
    overflow-y: auto;
    height: 300px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li {
    width: fit-content;
  }
}
@media screen and (max-width: 575px) {
  header {
    padding: 30px 25px 25px 25px;
    gap: 0 25px;
  }
  header .logo-wrapper img.img-logo {
    height: 65px;
  }
  header .dynamic-menu-wrapper {
    display: none;
  }
  header .menu-visible {
    margin-top: -70px;
  }
  header .linkedin-anchor-wrapper svg {
    width: 50px;
  }
  section.presentation-video .video-desktop {
    display: none;
  }
  section.presentation-video .video-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .modal-menu-mobile {
    display: flex;
  }
  section.about-me {
    padding: 0px 20px;
    gap: 25px 0;
  }
  section.about-me .line-content-wrapper {
    gap: 12px 0;
  }
  section.about-me .line-content-wrapper__image img {
    width: 230px;
    height: 230px;
  }
  section.about-me .line-content-wrapper__text p {
    font-size: 1.7rem;
  }
  section.my-cases .title-wrapper h2 {
    font-size: 3.4rem;
  }
  section.my-cases .grid-cases-wrapper {
    gap: 10px;
  }
  section.my-cases .grid-cases-wrapper .case-box {
    width: 48%;
  }
  section.my-cases .button-wrapper button.btn-open-modal-cases span {
    font-size: 2rem;
  }
  .modal-my-cases .modal-wrapper {
    height: 410px;
    margin: 0 20px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-header .title-wrapper h2 {
    font-size: 3.1rem;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content {
    padding: 0px 5px 0 20px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li {
    margin-bottom: 18px;
  }
  .modal-my-cases .modal-wrapper .modal-container .modal-content ul.cases-list li a.item {
    font-size: 2.1rem;
  }
  .modal-my-cases .modal-wrapper .modal-close-button-wrapper {
    width: 45px;
  }
  .modal-my-cases .modal-wrapper .modal-close-button-wrapper button.close-modal-btn svg {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
