@use 'global';

// Color Variables
$black: #000000;
$font-highlight-color: #aaaaaa;
$gray: #333;
$lightgray: #d9d9d9;
$white: #ffffff;

body{
    overflow-x: hidden;
}

// Header
header{
    max-width: 1440px;
    margin:  0 auto;
    $header-padding-top: 40px;
    $menu-wrapper-height: 45px;
    width: 100%;
    height: fit-content;
    padding: $header-padding-top 50px 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    .logo-wrapper{
        width: fit-content;
        height: fit-content;
        
        img.img-logo{
            width: auto;
            height: 85px;
            object-fit: scale-down;
        }
    }
   
    .dynamic-menu-wrapper{
        max-width: 745px;
        flex: 1;
        margin-top: calc(($header-padding-top * 2 + $menu-wrapper-height * 2) * -1);
        transition: margin-top 0.4s;
        &__menu{
            height: $menu-wrapper-height;
            background: $gray;
            padding: 0px 15px;
            padding-top: 10px;
            display: flex;
            justify-content: center;
            pointer-events: none;
            ul.anchor-list{
                display: flex;
                flex-direction: row;
                gap: 0 35px;
                align-items: center;
                li.anchor-list__item{
                    width: fit-content;
                    height: fit-content;

                    a.anchor{
                        font-size: 2rem;
                        line-height: 1.2em;
                        color: $white;
                        cursor: pointer;
                        @extend %regular-font;
                        pointer-events: all;
                    }
                }
            }
        }

        &__button-trigger{
            button.dynamic-menu-trigger-button{
                width: 100%;
                background: transparent;
                border: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;
                cursor: pointer;
                .line-top{
                    width: 100%;
                    height: 15px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: $gray;
                }
                
                .svg-chevron-wrapper{
                    width: 70px;
                    height: 28px;
                    background: $gray;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }

    .menu-visible{
        margin-top: calc(($header-padding-top  + $menu-wrapper-height) * -1);
    }

    .linkedin-anchor-wrapper{
        width: fit-content;
        height: fit-content;
        svg{
            width: 65px;
            object-fit: scale-down;
            transition: .2s;
        }

        &:hover{
            svg{
                transform: scale(0.92);
            }
        }
    }
}

// Presentation
section.presentation-video{
    width: min(100%, 1440px);
    height: fit-content;
    margin: 0 auto;
    
    .video-mobile{
        display: none;
    }


    .video-desktop{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// Modal Menu Mobile
.modal-menu-mobile{
    display: none;
    width: 140px;
    height: 170px;
    border-radius: 15px;
    background: rgba(95, 95, 95, 0.8);
    position: fixed;
    -webkit-box-shadow: -3px 3px 9px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 3px 9px 0px rgba(0,0,0,0.2);
    box-shadow: -3px 3px 9px 0px rgba(0,0,0,0.2);
    top: 50%;
    right: -130px;
    transform: translateY(-50%);
    transition: right .2s;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .anchor-list-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px 0;
        &__item{
            a{
                width: 100%;
                padding: 10px;
                font-size: 1.7rem;
                line-height: 1.2em;
                color: $white;
                @extend %regular-font;
            }
        }
    }
}

.modal-menu-mobile.modal-visible{
    right: 10px;
}

// About Me
section.about-me{
    width: 100%;
    height: fit-content;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;

    .line-content-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0 120px;
        &__image{    
            img{
                width: 330px;
                height: 330px;
            }
        }

        &__text{
            max-width: 750px;
            p{
                font-size: 2.8rem;
                line-height: 1.3em;
                color: $black;
                @extend %regular-font;
                margin-bottom: 1.2em;
                span{
                    font-size: inherit;
                    color: $font-highlight-color;
                }
            }
        }

    }

    .line-content-wrapper:nth-of-type(2n){
        flex-direction: row-reverse;

        .line-content-wrapper__text{
            p{
                text-align: right;
            }
        }
    }
}

// My Cases
section.my-cases{
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1440px;

    .container-my-cases{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: min(1250px , 100%);
        margin: 0 50px 0 auto;
    }

    .title-wrapper{
        width: fit-content;
        height: fit-content;
        margin-bottom: 28px;

        h2{
            font-size: 5rem;
            line-height: 1.2em;
            color: $font-highlight-color;
            font-style: italic;
            @extend %bold-font;
        }
    }

    .grid-cases-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 30px;


        .case-box{
            width: 290px;
            height: 200px;
            border-radius: 25px;
            position: relative;
            overflow: hidden;

            img.img-case{
                width: 120%;
                height: 120%;
                object-fit: cover;
                border-radius: 25px;
                object-position: -15px -20px;
            }

            .layer-blur{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
                z-index: 2;
                backdrop-filter: blur(5px);
                transition: backdrop-filter .3s;
            }

            &:hover{
                .layer-blur{
                    backdrop-filter: blur(0px);
                }
            }
        }

        .case-empty:nth-of-type(1){
            background: #d9d9d9;
        }
        .case-empty:nth-of-type(2){
            background: #B1B2B5;
        }
        .case-empty:nth-of-type(3){
            background: #7a7b7c;
        }
        .case-empty:nth-of-type(4){
            background: #555555;
        }
    }

    .button-wrapper{
        width: fit-content;
        margin: 50px auto 0 auto;
        button.btn-open-modal-cases{
            background: transparent;
            border: 0;
            padding: 10px 18px;
            position: relative;
            cursor: pointer;
            
            span{
                font-size: 2.5rem;
                line-height: 1.2em;
                color: $font-highlight-color;
                font-style: italic;
                position: relative;
                transition: .3s;
                @extend %regular-font;
            }

            &::before{
                display: block;
                content: '';
                width: 100%;
                height: 4px;
                background: $font-highlight-color;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: .3s;
            }

            &:hover{
                span{
                    color: $white;
                }

                &::before{
                    height: 100%;
                }
            }
        }

    }
}

// Modal My Cases
.modal-my-cases{
    display: none;
    position: fixed;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    // display: flex;
    align-items: center;
    justify-content: center;

    .modal-wrapper{
        width: min(1280px, 100%);
        height: min(540px, 90vw);
        border-radius: 50px;
        background: $white;
        display: flex;
        overflow: hidden;
        margin: 0 30px;

        .modal-container{
            flex: 1;
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .modal-header{
                margin-bottom: 45px;
                .title-wrapper{
                    h2{
                        font-size: 4.8rem;
                        line-height: 1.2em;
                        color: $font-highlight-color;
                        font-style: italic;
                        @extend %bold-font;
                    }
                }
            }

            .modal-content{
                width: 100%;
                padding: 0px 40px;
                ul.cases-list{
                    width: 100%;
                    columns: 2;
                    column-gap: 100px;

                    li{
                        margin-bottom: 20px;
                        transition: .2s;
                        a.item{
                            font-size: 3.2rem;
                            line-height: 1.2em;
                            color: $font-highlight-color;
                            @extend %bold-font;
                            font-style: italic;
                            transition: .2s;
                        
                        }
                        &:hover{
                            a{
                                color: #888;
                            }
                            transform: scale(1.02) translate(5px, -5px);
                        }
                    }
                }
            }
        }
        
        .modal-close-button-wrapper{
            width: 80px;
            height: 100%;
            background: #555;   
            transition: .3s;
            
            button.close-modal-btn{
                width: 100%;
                height: 100%;
                background: transparent;
                margin: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;

                svg{
                    width: 40px;
                    height: 40px;
                }
            }

            &:hover{
                background: #444;
            }

        }
    }
}

// Banners
section.banners-lines{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 170px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 110px 0;
    padding: 0 25px;

    .line-banner-wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img.img-banner{
            width: min(1000px, 80%);
            height: auto;
            aspect-ratio: 50 / 17;
            border-radius: 40px;
            object-fit: cover;
        }
    }

    .line-banner-wrapper:nth-of-type(2){
        justify-content: flex-start;
    }
}

/* --------------------------------------------- */ 
/* --- Media Queries (Responsive Breakpoints --- */ 
/* --------------------------------------------- */ 

@media screen and (max-width: 1440px){
    // My Cases
    section.my-cases{

        .container-my-cases{
            margin: 0 40px 0 auto;
            padding-left: 20px;
        }

        .title-wrapper{
            h2{
                font-size: 4.6rem;
            }
        }

        .grid-cases-wrapper{
            gap: 25px;


            .case-box{
                width: 280px;
                height: 190px;
            }
        }
    }

}


@media screen and (max-width: 1280px){
    // Header
    header{
        $header-padding-top: 40px;
        $menu-wrapper-height: 45px;
        .logo-wrapper{
            img.img-logo{
                height: 75px;
            }
        }
    
        .dynamic-menu-wrapper{
            margin-top: calc(($header-padding-top * 2 + $menu-wrapper-height * 2 - 10px) * -1);
            &__menu{
                ul.anchor-list{
                    li.anchor-list__item{
                        a.anchor{
                            font-size: 1.9rem;
                        }
                    }
                }
            }
        }

        .menu-visible{
            margin-top: calc(($header-padding-top  + $menu-wrapper-height - 10px) * -1);
        }
    }

    // About Me
    section.about-me{
        gap: 40px 0;

        .line-content-wrapper{
            gap: 0 80px;
            &__image{    
                img{
                    width: 315px;
                    height: 315px;
                }
            }

            &__text{
                p{
                    font-size: 2.6rem;
                }
            }

        }
    }

     // My Cases
     section.my-cases{
        margin-top: 65px;

        .container-my-cases{
            margin: 0;
            padding: 0 30px;
        }

        .title-wrapper{
            margin-bottom: 20px;

            h2{
                font-size: 4.4rem;
            }
        }

        .grid-cases-wrapper{
            gap: 20px;

            .case-box{
                width: 260px;
                height: 180px;
            }
        }

        .button-wrapper{
            margin: 35px auto 0 auto;
            button.btn-open-modal-cases{
                
                span{
                    font-size: 2.4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px){
    // About Me
    section.about-me{
        padding: 0px 40px;
        gap: 25px 0;

        .line-content-wrapper{
            gap: 0 55px;
            &__image{    
                img{
                    width: 300px;
                    height: 300px;
                }
            }

            &__text{
                p{
                    font-size: 2.4rem;
                }
            }

        }
    }

    // My Cases
    section.my-cases{
        margin-top: 55px;

        .container-my-cases{
            padding: 0 25px;
        }

        .title-wrapper{
            h2{
                font-size: 4.2rem;
            }
        }

        .grid-cases-wrapper{
            .case-box{
                width: 23%;
                height: auto;
                aspect-ratio: 3 / 2;
                border-radius: 20px;

                img.img-case{
                    border-radius: 20px;
                }
            }
        }

        .button-wrapper{
            margin: 28px auto 0 auto;
        }
    }

    // Modal My Cases
    .modal-my-cases{
        .modal-wrapper{
            .modal-container{
                .modal-header{
                    .title-wrapper{
                        h2{
                            font-size: 4.6rem;
                        }
                    }
                }

                .modal-content{
                    ul.cases-list{
                        column-gap: 90px;

                        li{
                            a.item{
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }
            
            .modal-close-button-wrapper{
                width: 72px;
            }
        }
    }

    // Banners
    section.banners-lines{
        margin-top: 130px;
        gap: 90px 0;

        .line-banner-wrapper{
            img.img-banner{
                aspect-ratio: 50 / 18;
            }
        }
    }
}

@media screen and (max-width: 991px){
    // Header
    header{
        $header-padding-top: 35px;
        $menu-wrapper-height: 35px;
        .logo-wrapper{
            img.img-logo{
                height: 70px;
            }
        }
    
        .dynamic-menu-wrapper{
            margin-top: calc(($header-padding-top * 2 + $menu-wrapper-height * 2 + 10px) * -1);
            &__menu{
                height: $menu-wrapper-height;
                padding-top: 15px;
                ul.anchor-list{
                    li.anchor-list__item{

                        a.anchor{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }

        .menu-visible{
            margin-top: calc(($header-padding-top  + $menu-wrapper-height + 10px) * -1);
        }

        .linkedin-anchor-wrapper{
            svg{
                width: 55px;
            }
        }
    }

    // About Me
    section.about-me{
        padding: 0px 30px;

        .line-content-wrapper{
            gap: 0 30px;
            &__image{    
                img{
                    width: 280px;
                    height: 280px;
                }
            }

            &__text{
                p{
                    font-size: 2.1rem;
                    margin-bottom: 1em;
                }
            }
        }
    }

    // My Cases
    section.my-cases{
        margin-top: 45px;

        .title-wrapper{
            h2{
                font-size: 4rem;
            }
        }

        .grid-cases-wrapper{
            gap: 15px;

            .case-box{
                border-radius: 15px;

                img.img-case{
                    border-radius: 15px;
                }
            }
        }

        .button-wrapper{
            margin: 18px auto 0 auto;
            button.btn-open-modal-cases{
                
                span{
                    font-size: 2.2rem;
                }
            }
        }
    }

    // Modal My Cases
    .modal-my-cases{
        .modal-wrapper{
            height: min(440px, 90vw);

            .modal-container{
                padding-top: 18px;
                .modal-header{
                    .title-wrapper{
                        h2{
                            font-size: 4.3rem;
                        }
                    }
                }

                .modal-content{
                    ul.cases-list{
                        column-gap: 20px;

                        li{
                            margin-bottom: 14px;
                            a.item{
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }
            
            .modal-close-button-wrapper{
                width: 64px;
                
                svg{
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    // Banners
    section.banners-lines{
        margin-top: 115px;
        gap: 70px 0;

        .line-banner-wrapper{
            img.img-banner{
                aspect-ratio: 50 / 20;
                border-radius: 30px;
            }
        }
    }
}


@media screen and (max-width: 767px){
    // Header
    header{
        $header-padding-top: 35px;
        $menu-wrapper-height: 30px;
        padding: $header-padding-top 25px 25px 25px;
        gap: 0 25px;
        .logo-wrapper{
            
            img.img-logo{
                height: 70px;
            }
        }
    
        .dynamic-menu-wrapper{
            margin-top: calc(($header-padding-top * 2 + $menu-wrapper-height * 2 + 20px) * -1);
            &__menu{
                height: $menu-wrapper-height;
                padding-top: 15px;
                ul.anchor-list{
                    gap: 0 30px;
                    li.anchor-list__item{
                        a.anchor{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }

        .menu-visible{
            margin-top: calc(($header-padding-top  + $menu-wrapper-height + 20px) * -1);
        }

        .linkedin-anchor-wrapper{
            svg{
                width: 55px;
            }
        }
    }

    // About Me
    section.about-me{
        margin-top: 20px;
        gap: 40px 0;

        .line-content-wrapper{
            flex-direction: column;
            gap: 20px 0;
            &__image{    
                img{
                    width: 260px;
                    height: 260px;
                }
            }

            &__text{
                p{
                    text-align: center;
                    font-size: 2rem;
                }
            }

        }

        .line-content-wrapper:nth-of-type(2n){
            flex-direction: column;
            .line-content-wrapper__text{
                p{
                    text-align: center;
                }
            }
        }
    }

    // My Cases
    section.my-cases{
        .title-wrapper{

            h2{
                font-size: 3.8rem;
            }
        }

        .grid-cases-wrapper{
            .case-box{
                width: 42%;

                .layer-blur{
                    backdrop-filter: blur(0px);
                }
            }
        }
    }

    // Modal My Cases
    .modal-my-cases{
        .modal-wrapper{
            height: min(430px, 90vw);
            border-radius: 35px;

            .modal-container{
                .modal-header{
                    margin-bottom: 30px;
                    .title-wrapper{
                        h2{
                            font-size: 3.6rem;
                        }
                    }
                }

                .modal-content{
                    padding: 0px 40px;
                    ul.cases-list{
                        columns: unset;
                        column-gap: 0px;
                        margin-bottom: 30px;
                        overflow-y: auto;
                        height: 300px;

                        li{
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }

    // Banners
    section.banners-lines{
        margin-top: 95px;
        gap: 45px 0;

        .line-banner-wrapper{
            img.img-banner{
                width:min(540px, 100%);
            }
        }
    }
}


@media screen and (max-width: 575px){
    // Header
    header{
        $header-padding-top: 30px;
        $menu-wrapper-height: 30px;
        padding: $header-padding-top 25px 25px 25px;
        gap: 0 25px;
        .logo-wrapper{
            img.img-logo{
                height: 65px;
            }
        }
    
        .dynamic-menu-wrapper{
            display: none;
        }

        .menu-visible{
            margin-top: calc(($header-padding-top  + $menu-wrapper-height + 10px) * -1);
        }

        .linkedin-anchor-wrapper{
            svg{
                width: 50px;
            }
        }
    }

    // Presentation Video
    section.presentation-video{
        .video-desktop{
            display: none;
        }

        .video-mobile{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // Modal Menu Mobile
    .modal-menu-mobile{
        display: flex;
    }

    // About Me
    section.about-me{
        padding: 0px 20px;
        gap: 25px 0;

        .line-content-wrapper{
            gap: 12px 0;
            &__image{    
                img{
                    width: 230px;
                    height: 230px;
                }
            }

            &__text{
                p{
                    font-size: 1.7rem;
                }
            }

        }
    }

    // My Cases
    section.my-cases{
        .title-wrapper{
            h2{
                font-size: 3.4rem;
            }
        }

        .grid-cases-wrapper{
            gap: 10px;

            .case-box{
                width: 48%;
            }
        }

        .button-wrapper{
            button.btn-open-modal-cases{
                span{
                    font-size: 2rem;
                }
            }

        }
    }

    // Modal My Cases
    .modal-my-cases{
        .modal-wrapper{
            height: 410px;
            margin: 0 20px;
            .modal-container{
                .modal-header{
                    .title-wrapper{
                        h2{
                            font-size: 3.1rem;
                        }
                    }
                }

                .modal-content{
                    padding:0px 5px 0 20px;
                    ul.cases-list{

                        li{
                            margin-bottom: 18px;
                            a.item{
                                font-size: 2.1rem;
                            }
                        }
                    }
                }
            }
            
            .modal-close-button-wrapper{
                width: 45px;

                button.close-modal-btn{
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    // Banners
    section.banners-lines{
        margin-top: 70px;
        gap: 35px 0;

        .line-banner-wrapper{
            img.img-banner{
                min-height: 200px;
                border-radius: 20px;
            }
        }
    }
}

